apiVersion: v1
kind: Service
metadata:
  name: spring-app-service
spec:
  type: NodePort
  selector:
    app: spring-app
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30008
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-app-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spring-app
  template:
    metadata:
      labels:
        app: spring-app
    spec:
      containers:
        - image: zekadev/minha-app-spring:v1
          name: spring-app
          ports:
            - containerPort: 8080
          env:

            - name: DB_HOST
              value: "mysql-service"

            - name: DB_USER
              value: "root"
            - name: DB_PASS
              value: "senha123"