apiVersion: v1
kind: Service
metadata:
  name: mysql-service
spec:
  ports:
    - port: 3306
  selector:
    app: mysql-custom
  clusterIP: None
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql-deployment
spec:
  selector:
    matchLabels:
      app: mysql-custom
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: mysql-custom
    spec:
      containers:
        - image: zekadev/meu-mysql-custom:v1
          name: mysql
          ports:
            - containerPort: 3306

          startupProbe:
            tcpSocket:
              port: 3306
            initialDelaySeconds: 10
            periodSeconds: 5